body {
  font-family: "Courier New", Courier, monospace;
}
h1 {
  color: rgb(72, 72, 72);
}

.container {
  margin: 150px;
  margin-left: 300px;

  font-weight: 500;
  line-height: 1.5;
}
form input[type="text"],
input[type="submit"] {
  margin-top: 30px;

  border: none;
  border-bottom: 1px solid black;
  outline: none;
  font-family: "Courier New", Courier, monospace;
}

#generated-poems {
  margin: 27px;
  font-family: "Courier New", Courier, monospace;
}
.heading {
  font-style: italic;
}
.line2-3 {
  margin-left: 30px;
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

footer {
  margin-top: 70px;
}
